/** Only for index.html **/

.site-header{
    color: #2e2e2e;
    background: transparent;
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #9acfea;
}

.site-header a:hover {
    color: #2e2e2e;
}

.jumbotron {
    background-image: url("http://thumbs.dreamstime.com/t/fondo-de-cuero-azul-profundo-55020099.jpg");

    height: 600px
}

.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #2e2e2e;
}
